.main-page {
    font-family: Arial, sans-serif;
}

.main-header {
    background-color: #eee;
    text-align: right;
    position: relative;
}

.main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header li {
    display: inline;
    margin-left: 10px;
}

/* Header Menu 스타일 */
.header-menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.header-menu li {
    margin-left: 10px;
    cursor: pointer; 
}

.top-banner {
    height: 60vh;
    margin-bottom: 150px;
}

.banner-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.banner-background {
    width: 100%;
    height: 100%;
}

/* start : 배너 이미지 디자인 ------------------------------------ */
.banner-img {
    position: absolute;
    top: 20%;
    right: 0;
    width: 50%;
    opacity: 0; /* 처음엔 보이지 않도록 */
    animation: slideInImage 1s ease-out forwards; /* 애니메이션 적용 */
}
/* 이미지가 왼쪽 밖에서 부드럽게 나타나는 애니메이션 */
@keyframes slideInImage {
    0% {
        opacity: 0;
        transform: translateX(-10%); /* 왼쪽 밖에서 시작 */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* 원래 위치로 */
    }
}
.banner-content img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}
/* end : 배너 이미지 디자인 ---------------------------------------- */


/* start : 자세히보기 버튼 디자인 ------------------------------------ */
.button-readmore {
    color: #333; /* 텍스트 색상 */
    padding: 0 7px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: transparent; /* 배경 없음 */
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    position: relative;
}
.button-readmore::after {
    content: "";
    display: block;
    width: 0;
    height: 1.5px;
    background-color: #333;; /* 밑줄 색상 */
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease-in-out;
}
.button-readmore:hover::after {
    width: 100%; /* 텍스트 길이에 맞게 밑줄 표시 */
}
/* end : 자세히보기 버튼 디자인 --------------------------------------- */


/* start : 배너 위 텍스트 디자인 -------------------------------------- */
.banner-text {
    position: absolute;
    left: 10%; /* 화면 왼쪽 끝 */
    transform: translateY(-50%); /* 수직 중앙 정렬 */
    color: rgb(0, 0, 0);
    padding: 20px;
    z-index: 1;
    text-align: left;
    opacity: 0; /* 처음엔 보이지 않도록 */
    animation: slideIn 1s ease-out forwards;
}
/* 왼쪽 밖에서 부드럽게 나타나는 애니메이션 */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-30%); /* 왼쪽 밖에서 시작 */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* 원래 위치로 */
    }
}
.banner-text h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 1.2em;
    line-height: 1.5;

}
/* end : 배너 위 텍스트 디자인 ---------------------------------------- */


/* start : 페이지네이션 ----------------------------------------------- */
.pagination {
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
}

.pagination-text {
    margin-top: 20px;
    margin-right: 10px;
    font-size: 1.2em;
    padding: 5px 10px;
}

.pagination button {
    padding: 10px 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.5em;
    background-color: transparent;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 10px;
}
/* end : 페이지네이션 ------------------------------------------------ */


.slider-toggle-image {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 5px;
}

/* 진행 표시 바 스타일 */
.progress-bar {
    width: 250px;
    height: 8px;
    border-radius: 5px;
    margin: 20px 5px 0 0;
}

.progress-bar-fill {
    height: 100%;
    background-color: #92AEDB;
    border-radius: 5px;
    transition: width 0.3s ease; /* 부드러운 애니메이션 효과 */
}

.search-bar {
    margin-left: 10%;
    align-items: center;
    width: 80%;
    padding: 20px;
    display: flex;
    align-items: center;
    
}

.search-bar input[type="text"] {
    flex-grow: 1;
    margin: 0 10px;
    padding: 5px;
}

.content-area {
    display: flex;
}

.date-picker-container {
    width: 22%;
    padding: 10px;
    height: 42vh;
}

.date-picker {
    border: 1px solid #ccc;
    padding: 10px;
}
.title-name{
    font-size: 1.2em;
    float: left
}
.image-grid {
    width: 74%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.image-item img {
    width: 100%;
    height: 200px;
    object-fit: fill;
}
.date-addr{
    text-align: left;
}
@media (max-width: 768px) {
    .image-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
.viewButton {
    background-color: #92AEDB;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.date-picker-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.custom-calendar .sunday {
    color: red !important;
}

.custom-calendar .saturday {
    color: red !important;
}

.custom-calendar .friday {
    color: black !important;
}
.react-calendar {
    background-color: #E8F0FE;
    border: none;
}

@media (max-width: 768px) {
  .date-picker-container {
    width: 100%;
    height: auto;
    max-width: none;
    padding: 10px;
  }

  .date-picker {
    max-width: 100%;
    box-sizing: border-box;
  }

  .content-area {
    flex-direction: column;
    display: flex;
  }

  .image-grid {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

}

@media (max-width: 768px) {
    .pagination-container {
        width: 100%;
    }
}

.react-calendar__navigation__arrow {
    font-family: 'Gowun Batang', sans-serif;
    font-size: 2em;
}