/* 기본 스타일 */
.main-page {
    font-family: Arial, sans-serif;
}
.main-header {
    background-color: #eee;
    text-align: right;
    position: relative;
}
.main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-header li {
    display: inline;
    margin-left: 10px;
}
.header-menu {
    position: absolute;
    top: 10px;
    right: 10px;
}
.header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}
.header-menu li {
    margin-left: 10px;
    cursor: pointer; 
}
.top-banner {
    height: 29vh;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}
.banner-content {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row-reverse;
}
.banner-background {
    width: 100%;
    height: 80%;
}
.banner-text {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.banner-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}
.banner-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.banner-text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.banner-content img {
    width: 50%;
    height: 95%;
    object-fit: cover;
}
.top-banner .pagination {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}
.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: auto;
    right: auto;
}
.pagination-container .pagination {
    position: static;
}
.search-bar {
    margin-left: 10%;
    align-items: center;
    width: 80%;
    padding: 20px;
    display: flex;
    align-items: center;
    
}
.search-bar input[type="text"] {
    flex-grow: 1;
    margin: 0 10px;
    padding: 5px;
}

.content-area {
    display: flex;
}
.date-picker-container {
    width: 22%;
    padding: 10px;
    height: 42vh;
    margin-bottom: 0px;
    border-radius: 10px;
}
.react-calendar {
    background-color: #E8F0FE;
    border: none;
    border-radius: 15px;
    margin: 0 auto;
}
.react-calendar__navigation button {
    font-size: 1em;
    padding: 0.5em;
}
@media (max-width: 1000px) {
    .react-calendar__navigation button {
        font-size: 0.8em;
        padding: 0.1em;
    }
}
.title-name{
    font-size: 1.2em;
    float: left
}
.image-grid {
    width: 74%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.image-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-item img {
    width: 100%;
    height: 200px;
    object-fit: fill;
}
.date-addr{
    text-align: left;
    margin-bottom: 10px;
}
.viewButton {
    background-color: #92AEDB;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 auto;
}
.custom-calendar .sunday {
    color: red !important;
}
.custom-calendar .saturday {
    color: red !important;
}
.custom-calendar .friday {
    color: black !important;
}
@media (max-width: 1030px) {
  .content-area {
    flex-direction: column;
  }
  .image-grid {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .date-picker-container {
    width: 100%;
    height: auto;
    padding: 5px;
  }
}
.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}
.pagination button.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
.pagination button:hover:not(.active) {
    background-color: #ddd;
}
.pagination {
    order: 2;
}
@media (max-width: 768px) {
    .pagination-container {
        width: 100%;
    }
}

.react-calendar__navigation__arrow {
    font-family: 'Gowun Batang', sans-serif;
    font-size: 2em;
}