@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

/* 전체 배경 스타일 */
.id-find-container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #F2EEE5, #E5C1C5, #C3E2DD, #6ECEDA);
}

.id-find-container * {
    font-family: 'Gowun Batang', serif;  /* 모든 자식 요소에 글꼴 상속 */
}

/* 아이디 찾기 폼을 위한 스타일 */
.id-find-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 370px; /* 폼 최대 너비 설정 */
}

/* 입력 필드 스타일 */
.id-find-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px; /* 각 입력 필드 사이 간격 추가 */
}

.id-find-input label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.id-find-form input {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 1px 1px 1px 1px #ddd;  /* 진하고 작은 범위의 그림자 추가 */
}

/* 버튼 스타일 */
.idfind-btn {
    background: #6ECEDA;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #ddd;  /* 진하고 작은 범위의 그림자 추가 */
}

.idfind-btn:hover {
    background: #51c8d8;
}
