@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #F2EEE5, #E5C1C5, #C3E2DD, #6ECEDA);
}

.login-container * {
    font-family: 'Gowun Batang', serif;
}

.back-button {
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.back-arrow {
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: #333;  /* 원하는 색상으로 변경 가능 */
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.login-style{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #ddd;
    text-align: center;
    width: 350px;
}

.login-style a {
    text-decoration: none;
    color: #444444;
    font-size: 13px;
}

.login-style a:hover {
    color: #6ECEDA;
}

.login-link:hover {
    color: #B8DFDD;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.input-container label {
    width: 35%;  /* 레이블의 너비를 지정하여 균형을 맞춤 */
    text-align: left;  /* 레이블을 왼쪽 정렬 */
}

.input-style {
    width: 100%; /* 입력창의 너비를 조정 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #ddd;
    font-size: 12px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #6ECEDA;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #ddd;
}

.login-btn:hover {
    background: #51c8d8;
}

.link-style{
    margin-top: 8px;
}