.replies {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#openWriteForm {
    width: 90px;
    height: 35px;
    margin-right: 20px;
    border: 0;
    border-radius: 15px;
    background-color: #D7E6FF;
    color: #507ABF;
    line-height: 35px;
    cursor: pointer;
}

.replyList {
    width: 100%;
    overflow: auto;
}

.replyList>ul {
    width: 100%;
    padding: 0;
    height: 50px;
    margin: 15px 0;
}

.replyList>ul>li {
    float: left;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
}

.replyList>ul>li:first-child {
    width: 50px;
    border: 1px solid gray;
    border-radius: 25px;
    /*background-color: #CBDAFB;
    text-align: center;
    color: #46487A;*/
}

.replyList>ul>li:nth-of-type(2) {
    width: 60%;
    margin: 0 30px;
}

#username {
    width: 10%;
}

#edit-container {
    width: 100px;
}

.editor {
    margin-left: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0.5;
}

.editor:hover {
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 1;
    transition: all 500ms;
}

#openWriteForm {
    cursor: pointer;
    position: relative;
    left: 83%;
}

 


