.container {
    width: 90%;
    margin: 0 auto;
}

.replies {
    width: 100%;
    margin: 0 auto;
}

#openWriteForm {
    width: 90px;
    height: 35px;
    margin-right: 20px;
    border: 0;
    border-radius: 15px;
    background-color: #D7E6FF;
    color: #507ABF;
    line-height: 35px;
    cursor: pointer;
}

.replyList {
    overflow: auto;
}

.replyList>ul {
    padding: 0;
    height: 50px;
    margin: 15px 0;
}

.replyList>ul>li {
    float: left;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
}

.replyList>ul>li:first-child {
    width: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: #CBDAFB;
    color: #46487A;
}

.replyList>ul>li:nth-of-type(2) {
    width: 50%;
    margin: 0 30px;
}

.editor {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
}

#openWriteForm {
    cursor: pointer;
    position: relative;
    left: 60%;
}


